<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/petForm.css">
  </head>
  <body>
    <nav>
      <a class="navLink" href="/pets">MyPets</a>
      <a class="navLink logoutButton" href="/logout">Logout</a>
    </nav>
    <div class="container">
      <h1 class="title">
      Add your new pet!
      </h1>
      <div class="descriptionContainer">
        <div class="headline">
          <input type="text" placeholder="Name"></input><p>, who is a</p>
          <input type="number" min="0" placeholder="Age" /><p>year(s) old</p>
          <input type="text" placeholder="specie/breed" />
        </div>
        <textarea class="description" ></textarea>
        <div class="buttonContainer">
          <a class="formButton cancelButton" href="/pets">Cancel</a>
          <a class="formButton saveButton" href="/pets">Save</a>
        </div>
      </div>
    </div>
  </body>
</html>