<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/css/petForm.css">
  </head>
  <body>
   <%- include('navbar') -%>
    <form method="post">
      <div class="container">
        <h1 class="title">
          Add your new pet!
        </h1>
        <div class="descriptionContainer">
          <div class="headline">
            <input name="name" type="text" placeholder="Name"></input><p>, who is a</p>
          <input name="age" type="number" min="0" placeholder="Age" /><p>year(s) old</p>
          <input name="specie" type="text" placeholder="specie/breed" />
        </div>
        <textarea name="description"  class="description" ></textarea>
        <div class="buttonContainer">
          <a class="formButton cancelButton" href="/pets">Cancel</a>
          <button type="submit" class="cleanButton formButton saveButton">Save</button>
        </div>
      </div>
    </div>
    </form>
  </body>
  </html>