<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/globals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="formContainer">
        <h1 class="titleText">Welcome to MyPets!</h1>
        <form class="form" method="post">
          <div class="formRow">
            <label for="username" class="inputLabel">
              Username
            </label>
            <input id="username" type="text" placeholder="username" name="username">
          </div>
          <div class="formRow">
            <label for="password" class="inputLabel">
              Password
            </label>
            <input id="password" type="password" name="password">
          </div>
          <div class="formRow">
            <div class="buttonContainer">
              <a href="/register" class="styledButton">Register</a>
              <button type="submit" class="styledButton hoverButton">Login</button>
            </div>
            <a href="/forgot-password" class="forgotPassword">Forgot your password?</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>