<head>
  <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
</head>
<nav>
  <a class="navLink" href="/pets">MyPets</a>
  <a class="navLink logoutButton" href="/logout">Logout</a>
</nav>