html {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

textarea { 
  resize: none;
}

.errorText {
  font-size: 0.8rem;
  color: red;
}