html {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

nav {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  background-color: lightgrey;
}

.navLink {
  font-size: 2rem;
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  text-align: start;
}

.petList {
  width: calc(100% - 2rem);
  max-width: 1200px;

  margin: 1rem;

  display: flex;
  
  flex-direction: column;
  align-items: center;
}

.petItem {
  width: 100%;

  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;

  background-color: lightgrey;
  text-decoration: none;
  color: black;
}

.addPetItem {
  width: calc(100% - 2rem);

  margin: 0.25rem 1rem;

  display: grid;
  place-items: center;

  background-color: lightgrey;
  text-decoration: none;
  color: black;
}
